.footer-blocks{
    background: #0c0a08;
    margin-right: auto;
    margin-left: auto;
}

div.footer-block{
    float: left;
    min-width: 180px;
    padding-bottom: 20px !important;
}
div.footer-block ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
div.footer-block li{
    display: list-item;
    text-align: -webkit-match-parent;
}
div.footer-block li a{
    text-decoration: none;
    background: transparent;
    color: #cccccc;
}
div.footer-block li a:hover{
    color: #36c;
}