#menu {
    width: 950px;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    background: #708090;
}
#menu ul {
    padding: 0;
    margin: 0;
}
#menu li{
    display: inline;
    list-style: none;
    border-right: 2px solid #ccc;
    margin: 5px;
}
#menu li a {
    padding: 5px 10px;
    color:#fff;
    text-decoration: none;
}
#menu li a:hover{
    background: #36c;
    color: #ff0;
}

#default {
    width: 900px;
}
#fixed {
    position: fixed;
    top: 0;
    width: 100%;
}