@font-face {
    font-family: American Retro Regular;
    src: url(fonts/american_retro.ttf) format("truetype");
}
@font-face {
    font-family: Bankir-Retro;
    src: url(fonts/bankir_retro.ttf) format("truetype");
}
html,
body {
    height: 100%;
}
body {
    background-color: #708090;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #DCDCDC 20%, #708090 60%);
}
footer{
    background: #708899;
    /*margin: auto;*/
    text-align: center;
    /*    display: block;*/
    height: 200px;
    margin-top: -10px;
}
h1{
    font-family: "American Retro Regular";
    margin: 70px auto;
    width: 900px;
    color: #4A708B;
    background: rgba(0, 0, 0, 0.1);
    font-size: 36px;
    text-align: center;
    letter-spacing: 4pt;
    word-spacing: 11.2pt;
}
p{
    font-family: "Bankir-Retro";
    font-size: 20px;
}
div.all{
    min-height: 60%;
    margin: 0 auto;
    width: 600px;
    table-layout: fixed;
}
div.left_box{
    border-right: 2px solid #ccc;
    margin-top: 0;
    margin-bottom: 60px;
    margin-right : 20px;
    float: left;
    width: 300px;
}
div.right_box{
    padding: 0 10px 10px 10px;
}

table.main{
    table-layout: fixed;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 4px inset #DCDCDC;
}
th.main {
    padding: 1px;
}
td.main {
    padding: 1px;
}
a {
     padding: 5px 10px;
     color:#fff;
     text-decoration: none;
 }
a:hover {
    background: #36c;
    color: #ff0;
}